#div1
{
    box-align: center;
    overflow: auto;
    width:70%;
    height:500px;
    border: 2px solid black;
    margin-top: 55px;
    margin-left: 165px;
    background-color: rgb(185, 231, 216);
}
#inputfield{
    padding: 4px 2px 4px 2px;
    margin-left: 180px;
    width: 380px;
    border: 1px solid slategray;
    background-color: rgba(199, 193, 193, 0.596);
    margin-top: 20px;
}
button{
    width: 120px;
    height: 26px;
    margin-top: 20px;
    margin-left: 35px;
}
center
{
margin-top: 30px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:brown;
font-size: 20px;
}